#about-us {
  background-color: #5c1ab7;
  padding-top: 40px;
}


.image-text-wrapper {
  height: 100%;
}
.image-container {
}

.image-container .layers-image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin-top: -30px;
}

.text-container {
}

.about-contents-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-right: 15px;
}

.about-title-tag .about-title {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  float: left;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
}

.about-info {
  width: 75%;
}

.about-info .about-info-paragraph {
  color: white;
  font-weight: 100;
}


.about-cta .about-cta-button {
  color: white;
  font-weight: 300;
  background-color: transparent;
  border: white solid 2px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  text-align: center;
  line-height: 10px;
}
.about-cta .about-cta-button:hover {
  background-color: #6e1fdd;
}


@media (max-width: 720px) {

  .image-container .layers-image {
    margin-left: 0;
    margin-top: 45px;
  }

  .about-info {
    text-align: center;
    margin: 0 auto;
  }

  .about-title-tag {
    padding-right: 0;
  }
  .about-contents-container {
    margin-top: 0;
  }
  .text-container {
    text-align: center;
  }


}
